.table2 {
  width:100%;
  margin-bottom:1em !important;
}

.doubleSelect TD {
  vertical-align: top;
  text-align:left;
}

.selectize-control {
  width:250px;
  display:inline-block;
  vertical-align:middle;
}

.table2 th {
  width:50%;
}

.table2 .icon-cancel-circled {
  color:red;
  font-size:16px;
  cursor:pointer;
}

.table2 th.delete-row {
  width:30px !important;
}
