#emails input[type="text"], select {
  margin:2px 10px !important;
}

tr.delete input, tr.delete select {
  opacity:0.5;
}

#addEntry {
  display:inline-block;
  padding:2px 5px;
  margin:4px;
  border-width:1px;
  border-style:solid;
  border-radius:10px;
  font-weight:bold;
}