div.contact-form {
	padding-top: 10px;
	padding-bottom: 10px;
}
div.contact-form-content {
  border-width: 0px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}
.cf-input-disabled {
  position: relative;
}
.cf-input, .cf-input-disabled {
  left: 5px;
}
td.contact-form-left {
	padding-right: 5px;
	text-align: right;
	vertical-align: middle;
}
td.contact-form-left#cf_message_label {
  vertical-align: top;
  padding-top: 5px;
}
td.contact-form-right {
  padding-left: 5px;
  text-align: left;
}
#cf-redirect {
	margin-left: 10em;
	margin-right: 10em;
  padding: 5px;
}
.cf-log-infos, .cf-log-errors {
	font-weight: bold;
}
div.cf-button {
	margin-left: 5px;
}

/* jQuery ui resizable */
.ui-resizable { position: relative; }
.ui-wrapper { border: 0; }
.ui-wrapper input, .ui-wrapper textarea { border: 0; }

/* Global handle styles */
.ui-resizable-handle { position: absolute; display: none; font-size: 0.1px; }
.ui-resizable .ui-resizable-handle { display: block; }
body .ui-resizable-disabled .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
body .ui-resizable-autohide .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
.ui-resizable-n {
    cursor: n-resize;
    height: 6px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: transparent url('../images/resizable-n.gif') no-repeat scroll center top;
}
.ui-resizable-s { cursor: s-resize; height: 6px; width: 100%; bottom: 0px; left: 0px; background: transparent url(../../../admin/themes/roma/images/resizable-s.gif) no-repeat scroll center top; }
.ui-resizable-e { cursor: e-resize; width: 6px; right: 0px; top: 0px; height: 100%; background: transparent url(../../../admin/themes/roma/images/resizable-e.gif) no-repeat scroll right center; }
.ui-resizable-w { cursor: w-resize; width: 6px; left: 0px; top: 0px; height: 100%; background: transparent url(../../../admin/themes/roma/images/resizable-w.gif) no-repeat scroll right center; }
.ui-resizable-se { cursor: se-resize; width: 9px; height: 9px; right: 0px; bottom: 0px; background: transparent url(../../../admin/themes/roma/images/resizable-se.gif); }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: 0px; bottom: 0px; background: transparent url(../../../admin/themes/roma/images/resizable-sw.gif); }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: 0px; top: 0px; background: transparent url(../../../admin/themes/roma/images/resizable-nw.gif); }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: 0px; top: 0px; background: transparent url(../../../admin/themes/roma/images/resizable-ne.gif); }